<!DOCTYPE html>
<html lang="en">
<head>
    @Include("body-head", Model)
</head>

<body>
    @Include("body-header", Model)
    @Include("body-content", Model)
    @Include("body-footer", Model)
    @Include("body-scripts", Model)
</body>
</html>
